<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="EBoost_Menu::menus" resource="EBoost_Menu::menus" title="Menus" action="eboostmenu/menu/index" module="EBoost_Menu" sortOrder="10" parent="Magento_Backend::content_elements" dependsOnModule="Magento_Backend"/></menu>
</config>
